setuptools
wheel
yfinance
pandas
psycopg2-binary
python-dotenv
sqlalchemy
streamlit
plotly
FinMind
xgboost
scikit-learn
https://github.com/twopirllc/pandas-ta/archive/development.zip
tqdm
